@font-face {
	font-family: 'archivo';
	src: url('Archivo-Regular.ttf');
}

* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;

	cursor: default;
}

body {
	overflow-x: hidden;
	font-size: 100%;
}

.main {
	width: 100vw;
	height: 100vh;

	padding: 20px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


a, p, h1 {
	font-family: 'archivo';
	font-size: 1.8em;
	text-decoration: none;

	color: black;
}

h1 {
	font-weight: lighter;
}


header {
	width: 100vw;

	display: grid;

	grid-template-rows: 1fr;
	grid-template-columns: 25vw 25vw 50vw;
}

footer {
	width: 100vw;

	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;

}

.footer {
	width: 50vw;
}

.footer a, .footer p, .phone {
	display: inline-block;
}


			.link {
				font-style: italic;
			}

			.link:hover {
				font-style: normal;
			}

			.sup_height_fix {
				position: relative;
				top: 0.21em;
			}



@media screen and (max-width: 1600px) {
	body {font-size: 90%;}

}

@media screen and (max-width: 1280px) {
	body {font-size: 80%;}
}

@media screen and (max-width: 1024px) {
	body {font-size: 70%;}
}

@media screen and (max-width: 768px) {

	.slick-slide {
		width: 100%;
		height: auto;
	}

	.slick-slide img {
		height: auto;
		width: 100%;
	}

	.vert {
		width: 50vw !important;
		height: auto !important;
	}
}

@media screen and (max-width: 500px) {
	body {font-size: 55%;}

	.footer:first-child {display: none;}
	.footer:last-child {width: calc(100vw - 100px);}

	.vert2 {width: 100% !important;}

	.main {
		width: 100vw;
		height: 85vh;
	}

	header {
		grid-template-columns: 23vw 23vw 48vw;
	}
}






